@import "https://fonts.googleapis.com/css?family=Assistant:400,700";
body{
    font-family: Assistant, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ABCDEF;
}
/*.navbar-custom{
    background-color: white;
}*/
.navbar-nav a{
    font-size: 17px;
}
.navbar-nav a:hover{
  color: darkgray !important;
}
p{
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}
a,
a:hover,
a:focus {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper {
  margin-top:60px;
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: lightgray;
  color: black;
  transition: all 0.3s;
}
/*searchbar*/
.has-search .form-control {
  width: 150px;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 260px;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: lightgray;
}
#sidebar ul.components {
  padding: 20px 10px;
  /*border-bottom: 1px solid black;*/
}
#sidebar ul li a {
  padding: 15px;
  font-size: 17px;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
}
a[data-toggle="collapse"] {
  position: relative;
}
/*.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}*/
ul ul a {
  font-size: 19px !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
/*ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}*/
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}




